<div id="wrapper">
  <form ngNativeValidate>
    <div *ngIf="showLoginFirstMessage">
      <h5>Please log in or create an account so that we can complete your purchase.</h5>
    </div>
    <div *ngIf="auth.loginFailure" class="failure">
      <h5>Please try again. This username doesn't exist or you have entered the fields incorrectly.</h5>
    </div>
    <div *ngIf="auth.signUpFailure" class="failure">
      <h5>Please try again. This username already exists or you have entered the fields incorrectly.</h5>
    </div>
    <h1>Log In</h1>
    <label for="email">Email</label><br>
    <input [(ngModel)]="user.email" id="emailLog" name="email" type="email" placeholder="Email" required/><br>
    <br/>
    <label for="password">Password</label><br>
    <input [(ngModel)]="user.password" id="passwordLog" name="password" type="password" placeholder="Password" required/><br/>
    <div *ngIf="isNewUser">
      <br/>
      <label for="confirmPassword">Confirm Password</label><br>
      <input [(ngModel)]="user.passwordConfirmation" id="passwordConfirmLog" name="confirmPassword" type="password" name="passwordConfirmation" placeholder="Confirm Passsword" required/><br>
    </div>
    <div class="lower">
      <a (click)="toggleIsNewUser()">{{ isNewUser ? 'Already a member? Sign In!' : 'Not a member yet? Register!' }}</a>
    </div><!--/ lower-->
    <p class="login button">
      <input (click)="login()" class="login-input" type="submit" value="Log in"/>
    </p>
  </form>
</div><!--/ wrapper-->
<br/>
