<div class="dialog" cdkFocusRegionStart>
    <div class="content">
        <div mat-dialog-content>
            <h3 class="header">Refer and receive commision!</h3>
        </div>
        <form ngNativeValidate>
            <i>Joining the affiliate program you will earn 20% commission on each package that you sell!</i>
            <br/>
            <br/>
            <label for="referralEmail">Email of Person You're Referring</label>
            <br/>
            <input
                [(ngModel)]="data.referralEmail"
                id="referralEmail"
                name="referralEmail"
                type="email"
                placeholder="e.g. name@gmail.com" 
                size="30"
                required
            />
            <br/>
            <br/>
            <label for="paymentMethod">Your Payment Method & Handle</label>
            <br/>
            <select [(ngModel)]="data.paymentMethod" name="paymentMethod">
                <option value="Paypal">Paypal</option>
                <option value="Venmo">Venmo</option>
                <option value="Cashapp">Cashapp</option>
            </select>
            <br/>
            <br/>
            <input
                [(ngModel)]="data.paymentHandle"
                id="paymentHandle"
                name="paymentHandle"
                type="text"
                placeholder="e.g. @cashapp.handle" 
                size="30"
                required
            />
            <div class="dialog-buttons" mat-dialog-actions>
                <button class="cancel-button action-button" mat-button (click)="cancel()">Cancel</button>
                <button class="action-button" mat-button (click)="confirm()">Confirm</button>
            </div>
        </form>
    </div>
</div>
