<div id="container">
  <!-- Change Password Box -->
  <div id="wrapper">
    <!-- Change Password Form -->
    <div id="change-password">
      <div id="back">
        <a (click)="removeMessage()" routerLink="/home" class="back">Go Back</a>
        <br>
      </div>
      <form ngNativeValidate>
        <div *ngIf="auth.changePasswordSuccess" class="success">
          <h5>Your password has been sucessfully changed.</h5>
        </div>
        <div *ngIf="auth.changePasswordFailure" class="failure">
          <h5>Could not change password. Please make sure the fields are correct and both passwords are not the same.</h5>
        </div>
        <h1>Change Password</h1>
        <label for="oldPassword">Old Password:</label><br>
        <input [(ngModel)]="oldPassword" id="old" type="password" name="oldPassword" placeholder="Old Password" required/><br>
        <label for="newPassword">New Password:</label><br>
        <input [(ngModel)]="newPassword" id="new" type="password" name="newPassword" placeholder="New Password" required/>
        <p class="submit button">
          <input (click)="changePassword()" type="submit" value="Change"/>
        </p>
      </form>
    </div><!--/ change-password-->
  </div><!--/ wrapper-->
</div><!--/ container-->
