<div id="wrapper">
  <form ngNativeValidate>
    <div *ngIf="service.changePasswordFailure" class="failure">
      <h5>There was an error saving the new password. Please try again</h5>
    </div>
    <div *ngIf="!passwordsMatch" class="failure">
      <h5>Please try again. The passwords entered do not match.</h5>
    </div>
    <div *ngIf="service.checkComplete && !service.codeConfirmed" class="failure">
      <h5>The code entered is incorrect. Please try again.</h5>
    </div>
    <h1>Change Password</h1>
    <div *ngIf="!service.codeConfirmed">
      <label for="code">Enter the code you received in your email</label>
      <br/>
      <input 
        [(ngModel)]="user.code"
        id="code"
        name="code"
        type="text"
        required
      />
      <br/>
      <br/>
    </div>
    <div *ngIf="service.codeConfirmed">
      <label for="password">Password</label>
      <br/>
      <input 
        [(ngModel)]="user.password"
        id="passwordLog"
        name="password"
        type="password"
        placeholder="Password"
        required
      />
      <br/>
      <br/>
      <label for="confirmPassword">Confirm Password</label>
      <br/>
      <input 
        [(ngModel)]="user.passwordConfirmation"
        id="passwordConfirmLog"
        name="confirmPassword"
        type="password"
        name="passwordConfirmation"
        placeholder="Confirm Passsword"
        required
      />
      <br/>
    </div>
    <p class="login button">
      <input (click)="submit()" class="login-input" type="submit" value="Submit"/>
    </p>
  </form>
</div>
<br/>
