<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <div routerLink="/home" class="navbar-brand">
        <span class="logo">      
          <img src="/assets/tko-logo.jpg" width="50" height="50"/>
        </span>
        Top King Training
      </div>
    </div>
    <div class="navbar-area">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/home">Home</a></li>
      <li *ngIf="auth.loggedIn" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/content">View Training Content</a></li>
      <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/plans">Plans</a></li>
      <li data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/contact">Contact Top King</a></li>
      <li *ngIf="isAdmin" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><a class="nav-link" routerLink="/admin">Admin</a></li>
      <li *ngIf="!auth.loggedIn"><a><input class="btn-warning" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="submit" value="Log In" routerLink="/login"/></a></li>
      <li *ngIf="auth.loggedIn"><a><input class="btn-warning" (click)="signOut()" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="submit" value="Log Out"/></a></li>
    </ul>
  </div>
</nav>
<div *ngIf="auth.signOutFailure" class="failure">
  <h5>There was an error signing out.</h5>
</div>
<main>
  <router-outlet></router-outlet>
</main>
<div class="footer">
  <div class="social">
    <a href="https://www.facebook.com/people/musclevilleking/100072016121133" target="_blank">
      <img src="/assets/fb.png" width="50" height="50"/>
    </a>
    <a href="https://www.instagram.com/musclevilleking/" target="_blank">
      <img src="/assets/ig.png" width="50" height="50"/>
    </a>
    <a href="https://www.youtube.com/@musclevilleking897" target="_blank">
      <img src="/assets/yt.png" width="50" height="50"/>
    </a>
  </div>
  <p style="text-align: center">&copy; {{ date }} Top King Custom Exercise and Nutrition Programs - All Rights Reserved</p>
</div>
