.navbar-brand {
    height: 75px;
    color: goldenrod;
}

.navbar-toggle {
    border-color: transparent;
}

.container-fluid, .social  {
    display: flex;
    justify-content: center;
}

.navbar-area {
    right: 0;
    position: absolute;
}

.logo {
    margin-right: 5px;
}

@media(min-width: 768px) {
    .navbar-collapse.collapse {
        display: flex !important;
        justify-content: center;
    }
}

.affiliate-btn {
    background-color: lightskyblue;
    border-color: lightskyblue;
}

.failure {
    text-align: center;
    color: red;
}
