<div *ngIf="addFailure" class="failure">
    <h5>There was a problem saving the video. Please try again.</h5>
</div>
<div *ngIf="getFailure" class="failure">
    <h5>There was a problem retrieving the videos.</h5>
</div>
<div id="wrapper">
    <form (ngSubmit)="uploadVideo()" ngNativeValidate>
        <h1>Admin Page</h1>
        <label for="file">Upload a video</label>
        <br/>
        <input type="file" name="file" (change)="updateFile($event)" required/>
        <br/>
        <label for="videoName">Video Name</label>
        <br/>
        <input [(ngModel)]="videoName" size="30" type="text" name="videoName" required/>
        <br/>
        <br/>
        <label>Which clients can see this video?</label>
        <br/>
        <mat-radio-group (change)="updateTiers($event.value)">
            <mat-radio-button value="123">All</mat-radio-button>
            <br/>
            <mat-radio-button value="23">Intemediate & Elite Only</mat-radio-button>
            <br/>
            <mat-radio-button value="3">Elite Only</mat-radio-button>
        </mat-radio-group>
        <br/>
        <br/>
        <label>Send notification?</label>
        <br/>
        <mat-radio-group (change)="updateNotificationMethods($event.value)">
            <mat-radio-button value="E">Email</mat-radio-button>
            <br/>
            <mat-radio-button value="T">Text</mat-radio-button>
            <br/>
            <mat-radio-button value="B">Both</mat-radio-button>
            <br/>
            <mat-radio-button value="N">None</mat-radio-button>
            <br/>
        </mat-radio-group>
        <p class="submit button">
            <input type="submit" value="Upload"/>
        </p>
        <br/>
    </form>
</div>

<div id="wrapper">
    <h1>Video Maintenance</h1>
</div>
<div *ngIf="maintenanceFailure" class="failure">
    <h5>There was a problem saving the video. Please try again</h5>
</div>

<div id="wrapper">
    <table style="min-width: 80%;" mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let vid">
            <span *ngIf="column === 'docName'">
                <a (click)="deleteVideo(vid)">X</a>
            </span>
            {{ getFriendlyNames(vid[column]) }}
            <span>
                <a (click)="modifyVideo(column, vid)">Edit</a>
              </span>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
</div>
<br/>