<div *ngIf="getFailure" class="failure">
    <h4>There was a problem retrieving data.</h4>
</div>
<div id="wrapper">
    <h1>Admin Page</h1>
</div>
<div id="wrapper">
    <a (click)="toggleVideoUpload()"><h3>Video Upload</h3></a>
</div>
<div *ngIf="addFailure" class="failure">
    <h4>There was a problem saving the video. Please try again.</h4>
</div>
<div *ngIf="showVideoUpload" id="wrapper">
    <form (ngSubmit)="uploadVideo()" ngNativeValidate>
        <label for="file">File</label>
        <br/>
        <input type="file" name="file" (change)="updateFile($event)" required/>
        <br/>
        <label for="videoName">Video Name</label>
        <br/>
        <input [(ngModel)]="videoName" size="30" type="text" name="videoName" required/>
        <br/>
        <br/>
        <label>Which clients can see this video?</label>
        <br/>
        <mat-radio-group (change)="updateTiers($event.value)">
            <mat-radio-button value="123">All</mat-radio-button>
            <br/>
            <mat-radio-button value="23">Intemediate & Elite Only</mat-radio-button>
            <br/>
            <mat-radio-button value="3">Elite Only</mat-radio-button>
        </mat-radio-group>
        <br/>
        <br/>
        <mat-checkbox (change)="updateNotificationMethods($event.checked)">
            Send Email Notification?
        </mat-checkbox>
        <p *ngIf="!loading" class="submit button">
            <input type="submit" value="Upload"/>
        </p>
        <h4 *ngIf="loading" style="text-align: right;">Loading...</h4>
        <br/>
    </form>
</div>

<div id="wrapper">
    <a (click)="toggleUpdatePricing()"><h3>Update Pricing</h3></a>
</div>
<div *ngIf="pricesFailure" class="failure">
    <h4>There was a problem updating the pricing. Please try again</h4>
</div>
<div *ngIf="showUpdatePricing" id="wrapper">
    <form (ngSubmit)="updatePricing()" ngNativeValidate>
        <!-- Beginner -->
        <label for="beginnerPrice">Beginner</label>
        <br/>
        <input [(ngModel)]="prices.beginner" size="30" pattern="[0-9]*" inputmode="numeric" type="number" name="beginnerPrice"/>
        <mat-checkbox
            [checked]="prices.annualPrices.includes('B')"
            (change)="makeAnnual($event.checked, 'B')"
        >
            Annual?
        </mat-checkbox>
        <br/>
        <!-- Intemediate -->
        <label for="intermediatePrice">Intermediate</label>
        <br/>
        <input [(ngModel)]="prices.intermediate" size="30" pattern="[0-9]*" inputmode="numeric" type="number" name="intermediatePrice"/>
        <mat-checkbox
            [checked]="prices.annualPrices.includes('I')"
            (change)="makeAnnual($event.checked, 'I')"
        >
            Annual?
        </mat-checkbox>
        <br/>
        <br/>
        <!-- Elite -->
        <label for="elitePrice">Elite</label>
        <br/>
        <input [(ngModel)]="prices.elite" size="30" pattern="[0-9]*" inputmode="numeric" type="number" name="elitePrice"/>
        <mat-checkbox
            [checked]="prices.annualPrices.includes('E')"
            (change)="makeAnnual($event.checked, 'E')"
        >
            Annual?
        </mat-checkbox>
        <br/>
        <br/>
        <!-- Consulting -->
        <label for="consultingPrice">Consulting</label>
        <br/>
        <input [(ngModel)]="prices.consulting" size="30" pattern="[0-9]*" inputmode="numeric" type="number" name="consultingPrice"/>
        <br/>
        <p *ngIf="!loading" class="submit button">
            <input class="update-price-btn" type="submit" value="Update"/>
        </p>
    </form>

</div>

<div id="wrapper">
    <a (click)="toggleVideoMaintenance()"><h3>Video Maintenance</h3></a>
</div>
<div *ngIf="maintenanceFailure" class="failure">
    <h4>There was a problem saving the video. Please try again</h4>
</div>
<div *ngIf="showVideoMaintenance" id="wrapper">
    <table style="min-width: 80%;" mat-table [dataSource]="videoDataSource">
        <ng-container [matColumnDef]="column" *ngFor="let column of videoDisplayedColumns">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let vid">
            <span *ngIf="column === 'docName'">
                <a (click)="deleteVideo(vid)">X</a>
            </span>
            {{ getFriendlyTierNames(vid[column]) }}
            <span>
                <a (click)="modifyVideo(column, vid)">Edit</a>
              </span>
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="videoDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: videoDisplayedColumns"></tr>
    </table>
</div>

<div id="wrapper">
    <a (click)="toggleUsers()"><h3>Users</h3></a>
</div>
<div *ngIf="showUsers" id="wrapper">
    <table style="min-width: 80%;" mat-table [dataSource]="userDataSource">
        <ng-container [matColumnDef]="column" *ngFor="let column of userDisplayedColumns">
          <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
          <td mat-cell *matCellDef="let user">{{ getFriendlyTierName(column, user[column]) }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: userDisplayedColumns"></tr>
    </table>
</div>
<br/>