<div class="dialog" cdkFocusRegionStart>
    <div class="content">
        <div mat-dialog-content>
            <h4>Modify Client Access</h4>
        </div>
        <label for="email">Which clients can see {{videoName}}?</label>
        <br/>
        <mat-checkbox (change)="updateTiers($event.checked, '1')">Beginner</mat-checkbox>
        <br/>
        <mat-checkbox (change)="updateTiers($event.checked, '2')">Intemediate</mat-checkbox>
        <br/>
        <mat-checkbox (change)="updateTiers($event.checked, '3')">Elite</mat-checkbox>
        <div class="dialog-buttons" mat-dialog-actions>
            <button class="cancel-button action-button" mat-button (click)="cancel()">Cancel</button>
            <button class="action-button" mat-button (click)="update()">Update</button>
        </div>
    </div>
</div>
