Home!!


WHY SHOULD YOU TRAIN WITH ME?
Well let’s just say I been in this game for a little while over 15 years NATURALLY! I think that makes me qualified lol! I went through many trials and tribulations to get to where I am today and I am still figuring things out as I go along. I’ve also had many transformations on my journey such as breaking myself down to building myself back up the right way! In this game there is unlimited knowledge, you can forever learn something new on your journey that’s what makes this so interesting and addicting! We all start from somewhere, I have been where you been & you are not alone! I have more than enough knowledge to share I can’t keep it all to myself! I would rather share my wisdom & knowledge with people & help people who are serious just like I was!

 
CUSTOM WORKOUT SCHEDULE:
I will be clearing my schedule & taking time out of my day specifically for you! 🫵🏽 I will tailor make your workouts specifically for your goals. No pre recorded workout programs of some old videos that you watch and try to figure out. 🗑🚮 I will be with you every step of the way Coaching you on what to do step-by-step! I will also throw in some extra DIET 🍎 HACKS & TIPS! 
 
WRITTEN PROGRAM:
If you only want me to create you a written workout plan tailored to you I can do this as well, you will get a full on workout plan specifically for your Goals & needs, in detail that you can use forever! 