<div>
    <div id="wrapper" class="screen-title">
        <h1>Top King Training</h1>
    </div>
    <div id="wrapper">
        <img [src]="topImg" width="350" height="280"/>
    </div>
    <div id="wrapper">
        <h3>Why Should You Train With Me?</h3>
    </div>
    <div id="wrapper">
        <p class="content">
            Well let’s just say I been in this game for a little while over 15 years NATURALLY! I think that makes me qualified lol!
        </p>
    </div>
    <div id="wrapper">
        <p class="content">
            I went through many trials and tribulations to get to where I am today and I am still figuring things out as I go along. I’ve also had many transformations on my journey such as breaking myself down to building myself back up the right way! In this game there is unlimited knowledge, you can forever learn something new on your journey that’s what makes this so interesting and addicting!
        </p>
    </div>
    <div id="wrapper">
        <p class="content">
            We all start from somewhere, I have been where you been & you are not alone! I have more than enough knowledge to share I can’t keep it all to myself! I would rather share my wisdom & knowledge with people & help people who are serious just like I was!
        </p>
    </div>
    <div id="wrapper">
        <h3>Lose Weight & Get Cut!</h3>
    </div>
    <div id="wrapper">
        <img [src]="bottomImg" width="350" height="280"/>
    </div>
    <div id="wrapper">
        <h3>Custom Workout Schedule</h3>
    </div>
    <div id="wrapper">
        <ul class="content">
            <li>You will have the options to pick which workout programs wou want that are specific for you! They are also modified to fit your schedules!</li>
            <li>I will tailor make your workouts specifically for your goals.</li>
            <li>I will be with you every step of the way Coaching you on what to do step-by-step!</li>
            <li>I will also throw in some extra DIET HACKS & TIPS!</li>
        </ul>
    </div>
    <div *ngIf="!isLoggedIn" id="wrapper">
        <p class="button">
            <input routerLink="/login" class="get-started-btn" type="submit" value="GET STARTED!"/>
        </p>
    </div>
    <br/>  
</div>
<br/>
